@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
  color: #f4f4f4;
}

